:root {
	--awesomeColor: #2980b9;
	--hugeSize: 300px;
}

li:first-child a {
	color: var(--awesomeColor);
	font-size: var(--hugeSize);
}

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
	color: red;
}

@custom-media --ipad-size (420px < width <= 768px);
@media (--ipad-size) {
	body {
		background-color: red;
	}
}

@custom-media --ipadPro-size(768px < width <= 1024px);
@media (--ipadPro-size) {
	body {
		background-color: blue;
	}
}
